$color-darkest: #343a40;
$color-dark: #495057;
$color-medium: #ced4da;
$color-light: #f1f3f5;

$color-theme: #1098ad;
$color-theme-light: rgba(16, 152, 173, 0.31);
$color-accent: #ff4d4d;

@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  min-height: 100vh;
  color: $color-light;
  background-color: $color-darkest;
  padding: 3.2rem;
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

h4 {
  font-size: 3.3rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  width: 70rem;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.question-head {
  margin-bottom: 5rem;
  text-align: center;
  flex-basis: 40%;

  p {
    font-size: 1.7rem;
    font-weight: 100;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 2.5vw;
    }
  }
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 7rem;
  flex-grow: 1;
  .btn-checked {
    border: 2px solid $color-theme;
    background-color: $color-theme-light;
  }
}

.options-bubble {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 5rem;

  .btn-checked {
    border: 2px solid $color-theme;
    background-color: $color-theme-light;
  }

  .btn-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    @media (max-width: 768px) {
      justify-content: center;
      width: 110px;
      height: 110px;
    }
  }

  .bubble-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .bubble-card-icon {
      font-size: 5rem;
    }
    .bubble-card-title {
      font-size: 1.4rem;
    }
  }
}

.btn {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  border: 2px solid $color-dark;
  background-color: $color-dark;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
  @media (max-width: 430px) {
    width: 100%;
  }

  &:active {
    transform: scale(0.9);
  }

  &[disabled]:hover {
    cursor: not-allowed;
  }

  &[disabled] {
    background-color: $color-darkest;
  }
}

.btn-option {
  width: 100%;
  text-align: left;

  &:not([disabled]):hover {
    transform: translateX(1.2rem);
  }
}

.link {
  color: inherit;
  text-decoration: none;
}

.progress {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: 1.8rem;
  color: $color-medium;
  position: relative;

  .progress-content {
    display: flex;
    align-items: center;

    .arrow {
      font-size: 2rem;
      position: absolute;
      left: 0;
      margin-right: 1.2rem;
      cursor: pointer;
    }
  }

  p {
    margin-right: 1.2rem;
  }

  strong {
    color: $color-theme;
  }

  progress {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;

    &::-webkit-progress-bar {
      background-color: $color-medium;
      border-radius: 100px;
    }

    &::-webkit-progress-value {
      background-color: $color-theme;
      border-radius: 100px;
    }
  }
}

.vertical-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 3.2rem;
  align-items: center;
  //   @media (max-width: 540px) {
  //     justify-content: space-between;
  //   }

  .vertical-card {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 150px;
    border: 2px solid $color-dark;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s;
    background-color: $color-dark;

    .vertical-card-icon {
      font-size: 5rem;
      margin-bottom: 10px;
    }

    .vertical-card-title {
      font-size: 1.6rem;
      text-align: center;
    }

    &:hover {
      transform: translateY(-5px);
    }
  }
}

.container-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.checkbox-input {
  position: absolute;
  opacity: 0;
}

.checkbox-custom {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border: 4px solid $color-theme;
  border-radius: 35%;
  margin-right: 10px;
}

.checkbox-input:checked + .checkbox-custom::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: solid $color-theme;
  border-width: 0 7px 5px 0;
  position: absolute;
  bottom: 13px;
  right: 10px;
  transform: rotate(45deg);
}

.email-input-container {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
  }

  .error-email {
    color: $color-accent;
    margin-top: 5px;
    font-size: 1.5rem;
  }

  .email-input {
    width: 80%;
    padding: 2rem;
    font-size: 2rem;
    border: 4px solid $color-theme;
    border-radius: 30px;
    margin-bottom: 2rem;
    @media (max-width: 640px) {
      width: 100%;
    }
  }
  .invalid {
    border-color: $color-accent;
  }
}

.image-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.download-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 5rem;
  cursor: pointer;

  .download-image {
    width: 40px;
  }

  .download-text {
    font-size: 3rem;
    text-align: center;
  }
}

.spinner-container {
  width: 45rem;
  height: 45rem;
  position: relative;
  margin-bottom: 25px;

  @media (max-width: 768px) {
    width: 55vw;
    height: 55vw;
  }

  .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 12px solid $color-light;
    border-top: 8px solid $color-theme;
    border-radius: 50%;
    animation: spin 3s linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .percentage {
    font-size: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 768px) {
      font-size: 13vw;
    }
  }
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1.6rem;

  color: var(--color-medium);
  font-size: 1.4rem;

  .loader {
    width: 50px;
    height: 24px;
    background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0%
        50%,
      radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
      radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
    background-size: calc(100% / 3) 12px;
    background-repeat: no-repeat;
    animation: loader 1s infinite linear;
  }
}

@keyframes loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.error {
  font-size: 2rem;
  text-align: center;
  span {
    font-size: 5rem;
    display: block;
  }
}
